
.ks-spinner-full {
    width: 64px;
    height: 64px;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.ks-spinner {
	height: 205px;
	width: 234;
	margin: 13px;
}

.gallery-image {
	border: 1px solid rgba(0, 0, 0, 0.37);
	margin: 0 auto;
	cursor: pointer;
}

.gallery-image .imageloader-loaded img {
	margin: 5%;
	width: 90%;
	display: block;
}

.gallery-image .imageloader-loading img {
	height: 205px;
	width: 234px;
	margin: 13px;
}

.gallery-image-caption {
	font-size: 13px;
	font-style: italic;
	text-overflow: ellipsis;
	width: 100%;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}

.gallery-button {
	width: 135px;
}

.gallery-row {
	margin-bottom: 15px;
}


@media (min-width: 1200px) {
	.gallery-row {
    	height: 260px;
	}
}

@media (max-width: 1199px) {
	.gallery-row {
    	height: 210px;
	}
}

@media (max-width: 991px) {
	.gallery-row {
    	height: 165px;
	}
}

.ks-carousel {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	outline: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.ks-container {
	height: 100%;
	position: relative;
}

/*ks-test__prev, .ks-test__next*/

.ks-test__prev, .ks-test__next {
	position: absolute;
	top: calc(50% - 15px);
	width: 30px;
	height: 30px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    opacity: 0.5;
	cursor: pointer;
}

.ks-test__prev {
	left: 10%;
    transform: rotate(225deg);
}

.ks-test__next {
	right: 10%;
    transform: rotate(45deg);
}

.ks-test__prev:hover:not([disabled]), .ks-test__next:hover:not([disabled]) {
  	opacity: 1;
}

.ks-test__prev[disabled], .ks-test__next[disabled] {
	cursor: default;
}


/*test__close*/

.ks-test__close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
    opacity: 0.5;
	cursor: pointer;
}

.ks-test__close:hover {
  	opacity: 1;
}

.ks-test__close:before, .ks-test__close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 40px;
	width: 3px;
	background-color: white;
}

.ks-test__close:before {
  	transform: rotate(45deg);
}

.ks-test__close:after {
  	transform: rotate(-45deg);
}

.ks-test__close-upper {
	position: absolute;
	top: 3%;
	left: 0;
	right: 0;
	opacity: 0.5;
	cursor: pointer;
	color: white;
}

.ks-test__close-upper:hover {
	opacity: 1;
}

.ks-image {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.ks-image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.0) 25%, rgba(0, 0, 0, 0.0) 75%, rgba(0, 0, 0, 0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@media only screen 
and (max-width : 480px) {
	.ks-gallery-col-12	{
		width: 100%;
		margin-bottom: 5px;
	}
}